@model IEnumerable<KntLesson10DB.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="KntCreate" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Status
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CateStatus)
            </td>
            <td>
                <a asp-action="KntEdit" asp-route-id="@item.CateId" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-action="KntDetails" asp-route-id="@item.CateId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                <a asp-action="KntDelete" asp-route-id="@item.CateId" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
