@model IEnumerable<EmployeeInformation___Lesson07.Models.KntEmployee>

@{
    ViewData["Title"] = "Danh sach";
}
<style>
    th, td {
        white-space: nowrap;
        vertical-align: middle;
    }

        th.small-col, td.small-col {
            width: 80px;
            text-align: center;
        }
</style>

<div class="d-flex align-items-center">
    <h1 class="me-3">@ViewData["Title"]</h1>
    <div class="ms-auto">
        <a asp-action="KntCreate" class="align-items-end">Tạo mới</a>
    </div>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Birthday
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Salary
            </th>
            <th>
                IsActive?
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KntId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KntName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KntBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KntEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KntPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KntSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KntIsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "KntEdit", new { id = item.KntId }) |
                @Html.ActionLink("Details", "KntDetails", new { id = item.KntId }) |
                @Html.ActionLink("Delete", "KntDelete", new { id = item.KntId })
            </td>
        </tr>
}
    </tbody>
</table>
